<ul class="media-list">
  <% microposts.each do |micropost| %>
    <% user = micropost.user %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <div>
          <%= render 'favorites/like_button', micropost: micropost %>
          <button type="button" data-id="<%= micropost.id %>" class="retweet-btn btn btn-primary btn-xs" data-toggle="modal" data-target="#retweet_form">Retweet</button>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
      <% if micropost.retweet_id %>
          <% original = micropost.original %>
          <div>
            <div class="media-body">
              <div>
                <%= link_to original.user.name, user_path(original.user) %> <span class="text-muted">posted at <%= original.created_at %></span>
              </div>
              <div>
                <p><%= original.content %></p>
              </div>
            <div>
              <%= render 'favorites/like_button', micropost: original %>
              <button type="button" data-id="<%= original.id %>" class="retweet-btn btn btn-primary btn-xs" data-toggle="modal" data-target="#retweet_form">Retweet</button>
              <% if current_user == original.user %>
                <%= link_to "Delete", original, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>

<div class="modal fade" id="retweet_form" tabindex="-1" role="dialog">
  <%= form_for Micropost.new do |f|%>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Retweet</h4>
        </div>
        <div class="modal-body">
          <%= f.text_area :content, class: 'form-control' %>
          <%= f.hidden_field :retweet_id %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'retweet', class: 'btn btn-primary' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  <% end %>
</div><!-- /.modal -->

<script>
  var current_micropost_id;
  
  $('.retweet-btn').on('click', function(e){
    current_micropost_id = $(e.currentTarget).attr('data-id');
    console.log('onClickRetweetBtn');
  });
  $('#retweet_form').on('shown.bs.modal', function () {
    var hidden_tag = $("#retweet_form").find('input[name="micropost[retweet_id]"]');
    hidden_tag.val(current_micropost_id);
  })
</script>